a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del elemento padre */
  display: inline; /* Hace que los enlaces se comporten como elementos de línea */
  font-weight: bold; /* Establece el peso de la fuente en negrita */
}

button {
  border: none;
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del elemento padre */
  display: inline; /* Hace que los enlaces se comporten como elementos de línea */
  font-weight: bold; /* Establece el peso de la fuente en negrita */
}

#Mainheader {
  position: fixed;
  padding: 4px 16px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  z-index: 20;
}
#Mainheader > a {
  color: black;
}
.logo {
  width: 48px;
  height: 48px;
}
.logo > img {
  max-width: 48px;
  max-height: 48px;
  object-fit: cover;
  object-position: center;
}

.buttonEnlacePasivo {
  display: flex;
  border-radius: 20px;
  margin: auto;
  height: 48px;
  min-width: 60px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.buttonEnlaceFoco {
  border: none;
  display: flex;
  border-radius: 20px;
  margin: auto;
  height: 48px;
  min-width: 60px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.buttonEnlaceFoco > span {
  color: white;
}
.searchBar {
  min-width: 120px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-grow: 1;
}
.searchBar > img {
  position: relative;
  left: var(--rtc-padding-l);
  height: 16px;
  width: 16px;
  z-index: 2;
}
.searchBar > input {
  padding-left: var(--rtc-padding-l);

  flex: 1 1 auto;
  height: 48px;
  text-decoration: none;
  border: none;
  width: 90%;
  background-color: rgb(235, 231, 231);
  border-radius: 10px;
}
.divBut {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.divBut:hover {
  background-color: rgb(235, 231, 231);
}
.divBut > img {
  max-height: 24px;
  max-width: 24px;
}
.imgSearch {
  position: relative;
  left: 5px;
}
.imgSearch2 {
  display: none;
}
.closingIcon {
  display: none;
}
.closingIcon2 {
  display: block;
}
.inputclass {
  position: relative;
  left: 5px;
  padding-left: 10px;
  margin-left: 10px;
}
.iconNoDrop {
  display: flex;
  direction: row;
}
.dropdownMenu {
  display: none;
}
.dropdownMenu > img {
  width: 24px;
}
#closeMenu {
  display: none;
}
@media (max-width: 750px) {
  .inputclass {
    left: 0;
  }
  .dropdownMenu {
    display: block;
  }
  .divButs {
    display: none;
  }
  .visible {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
  }
  .invisible {
    display: none;
  }
  .iconNoDrop {
    display: none;
    direction: row;
  }
  .iconDrop {
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    position: relative;
    top: 80px;
  }
  #closeMenu {
    display: flex;
  }
}
